In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('data_csv.csv')
df

,Actor,Film,Year,Genre,Box Office (INR Crore),IMDb
0,Hrithik Roshan,Dangal,2007,Drama,445.18,8.4
1,Aamir Khan,Barfi!,2018,Action,255.80,6.4
2,Hrithik Roshan,Dangal,2008,Thriller,147.77,5.1
3,Amitabh Bachchan,Bajrangi Bhaijaan,2021,Comedy,163.40,5.1
4,Salman Khan,Kesari,2015,Thriller,65.74,5.8
5,Aamir Khan,Gully Boy,2023,Romance,413.47,8.0
6,Aamir Khan,Piku,2010,Romance,311.84,6.2
7,Rajkummar Rao,Barfi!,2015,Romance,229.48,7.5
8,Shah Rukh Khan,Stree,2000,Biopic,176.25,8.2
9,Akshay Kumar,Gully Boy,2021,Biopic,94.01,8.6
10,Ranbir Kapoor,Dangal,2022,Action,405.97,8.3
11,Ranbir Kapoor,Piku,2010,Drama,372.00,5.2

In [9]:
# Getting the entries under a particular column in the data frame
df['Actor']

0       Hrithik Roshan
1           Aamir Khan
2       Hrithik Roshan
3     Amitabh Bachchan
4          Salman Khan
5           Aamir Khan
6           Aamir Khan
7        Rajkummar Rao
8       Shah Rukh Khan
9         Akshay Kumar
10       Ranbir Kapoor
11       Ranbir Kapoor
Name: Actor, dtype: object

In [10]:
df['Actor'][3]

'Amitabh Bachchan'

In [11]:
type(df['Actor'])

pandas.core.series.Series

In [12]:
# Getting multiple columns
# getting columns like this just returns a view, this does not returns the original dataframe
df[['Actor','IMDb']]

               Actor  IMDb
0     Hrithik Roshan   8.4
1         Aamir Khan   6.4
2     Hrithik Roshan   5.1
3   Amitabh Bachchan   5.1
4        Salman Khan   5.8
5         Aamir Khan   8.0
6         Aamir Khan   6.2
7      Rajkummar Rao   7.5
8     Shah Rukh Khan   8.2
9       Akshay Kumar   8.6
10     Ranbir Kapoor   8.3
11     Ranbir Kapoor   5.2

In [13]:
# Selecting row by index
df.loc[1]

Actor                     Aamir Khan
Film                          Barfi!
Year                            2018
Genre                         Action
Box Office (INR Crore)         255.8
IMDb                             6.4
Name: 1, dtype: object

In [14]:
df

,Actor,Film,Year,Genre,Box Office (INR Crore),IMDb
0,Hrithik Roshan,Dangal,2007,Drama,445.18,8.4
1,Aamir Khan,Barfi!,2018,Action,255.80,6.4
2,Hrithik Roshan,Dangal,2008,Thriller,147.77,5.1
3,Amitabh Bachchan,Bajrangi Bhaijaan,2021,Comedy,163.40,5.1
4,Salman Khan,Kesari,2015,Thriller,65.74,5.8
5,Aamir Khan,Gully Boy,2023,Romance,413.47,8.0
6,Aamir Khan,Piku,2010,Romance,311.84,6.2
7,Rajkummar Rao,Barfi!,2015,Romance,229.48,7.5
8,Shah Rukh Khan,Stree,2000,Biopic,176.25,8.2
9,Akshay Kumar,Gully Boy,2021,Biopic,94.01,8.6
10,Ranbir Kapoor,Dangal,2022,Action,405.97,8.3
11,Ranbir Kapoor,Piku,2010,Drama,372.00,5.2

In [15]:
# Sometimes we change row labels, iloc find on the basis of index
# Loc finds on the basis of the labels
df.iloc[1]

Actor                     Aamir Khan
Film                          Barfi!
Year                            2018
Genre                         Action
Box Office (INR Crore)         255.8
IMDb                             6.4
Name: 1, dtype: object

In [17]:
# Getting a particular cell
df.loc[11,'Genre']

'Drama'

In [19]:
df.iloc[11,3]

'Drama'

In [24]:
# Getting multiple rows and in that also getting specific columns
# In loc, here the last index 2 is inclusive, but this is not the case in iloc
df.loc[0:2,['Actor','IMDb','Genre']]

            Actor  IMDb     Genre
0  Hrithik Roshan   8.4     Drama
1      Aamir Khan   6.4    Action
2  Hrithik Roshan   5.1  Thriller

In [27]:
# Getting multiple rows and in that also getting specific columns using iloc
# Here the last index is not inclusive
df.iloc[0:2,0:2]

            Actor   Film
0  Hrithik Roshan  Dangal
1      Aamir Khan  Barfi!

In [28]:
# Fast way of accessing element at a particular index (can access only one cell)
# at, iat are optimized to get a single element
df.at[0,'Actor']

'Hrithik Roshan'

In [29]:
df.iat[0,0]

'Hrithik Roshan'

In [37]:
# Functions for filtering of data in dataframe
# Getting data having IMDb score greater than 6
# df[df['IMDb']>6]['Actor']
df[df['IMDb']>6]

             Actor      Film   Year    Genre  Box Office (INR Crore)  IMDb
0   Hrithik Roshan     Dangal  2007    Drama                  445.18   8.4
1       Aamir Khan     Barfi!  2018   Action                  255.80   6.4
5       Aamir Khan  Gully Boy  2023  Romance                  413.47   8.0
6       Aamir Khan       Piku  2010  Romance                  311.84   6.2
7    Rajkummar Rao     Barfi!  2015  Romance                  229.48   7.5
8   Shah Rukh Khan      Stree  2000   Biopic                  176.25   8.2
9     Akshay Kumar  Gully Boy  2021   Biopic                   94.01   8.6
10   Ranbir Kapoor     Dangal  2022   Action                  405.97   8.3

In [43]:
# Getting only those films for which IMDb > 6 and Year > 2019
# We can use or condition also (|)
df[(df['IMDb']>6) & (df['Year']>2019)]

            Actor      Film   Year    Genre  Box Office (INR Crore)  IMDb
5      Aamir Khan  Gully Boy  2023  Romance                  413.47   8.0
9    Akshay Kumar  Gully Boy  2021   Biopic                   94.01   8.6
10  Ranbir Kapoor     Dangal  2022   Action                  405.97   8.3

In [44]:
# df.query uses a natural like language
df.query('Year > 2019')

,Actor,Film,Year,Genre,Box Office (INR Crore),IMDb
3,Amitabh Bachchan,Bajrangi Bhaijaan,2021,Comedy,163.40,5.1
5,Aamir Khan,Gully Boy,2023,Romance,413.47,8.0
9,Akshay Kumar,Gully Boy,2021,Biopic,94.01,8.6
10,Ranbir Kapoor,Dangal,2022,Action,405.97,8.3

In [45]:
df.query('Year > 2019 and IMDb > 6')

            Actor      Film   Year    Genre  Box Office (INR Crore)  IMDb
5      Aamir Khan  Gully Boy  2023  Romance                  413.47   8.0
9    Akshay Kumar  Gully Boy  2021   Biopic                   94.01   8.6
10  Ranbir Kapoor     Dangal  2022   Action                  405.97   8.3

In [47]:
# df.query returns a copy instead of a view but for otehr filtering methods Pandas does not guarantees 
# that always a copy will be returned, it can return a view also. If we want a copy, use a .copy method always instead
df2 = df.query('Year > 2019 and IMDb > 6')
df2

            Actor      Film   Year    Genre  Box Office (INR Crore)  IMDb
5      Aamir Khan  Gully Boy  2023  Romance                  413.47   8.0
9    Akshay Kumar  Gully Boy  2021   Biopic                   94.01   8.6
10  Ranbir Kapoor     Dangal  2022   Action                  405.97   8.3

In [49]:
df2.loc[5,'Actor'] = 'Dhwani Vashisth'

In [50]:
df2

              Actor      Film   Year    Genre  Box Office (INR Crore)  IMDb
5   Dhwani Vashisth  Gully Boy  2023  Romance                  413.47   8.0
9      Akshay Kumar  Gully Boy  2021   Biopic                   94.01   8.6
10    Ranbir Kapoor     Dangal  2022   Action                  405.97   8.3

In [51]:
df

,Actor,Film,Year,Genre,Box Office (INR Crore),IMDb
0,Hrithik Roshan,Dangal,2007,Drama,445.18,8.4
1,Aamir Khan,Barfi!,2018,Action,255.80,6.4
2,Hrithik Roshan,Dangal,2008,Thriller,147.77,5.1
3,Amitabh Bachchan,Bajrangi Bhaijaan,2021,Comedy,163.40,5.1
4,Salman Khan,Kesari,2015,Thriller,65.74,5.8
5,Aamir Khan,Gully Boy,2023,Romance,413.47,8.0
6,Aamir Khan,Piku,2010,Romance,311.84,6.2
7,Rajkummar Rao,Barfi!,2015,Romance,229.48,7.5
8,Shah Rukh Khan,Stree,2000,Biopic,176.25,8.2
9,Akshay Kumar,Gully Boy,2021,Biopic,94.01,8.6
10,Ranbir Kapoor,Dangal,2022,Action,405.97,8.3
11,Ranbir Kapoor,Piku,2010,Drama,372.00,5.2

In [52]:
# If you want a copy always - use .copy method
df2 = df['Actor'].copy()

In [53]:
df2

0       Hrithik Roshan
1           Aamir Khan
2       Hrithik Roshan
3     Amitabh Bachchan
4          Salman Khan
5           Aamir Khan
6           Aamir Khan
7        Rajkummar Rao
8       Shah Rukh Khan
9         Akshay Kumar
10       Ranbir Kapoor
11       Ranbir Kapoor
Name: Actor, dtype: object

In [54]:
df2.iloc[0] = "Sagar Wadhwa"
df2

0         Sagar Wadhwa
1           Aamir Khan
2       Hrithik Roshan
3     Amitabh Bachchan
4          Salman Khan
5           Aamir Khan
6           Aamir Khan
7        Rajkummar Rao
8       Shah Rukh Khan
9         Akshay Kumar
10       Ranbir Kapoor
11       Ranbir Kapoor
Name: Actor, dtype: object