In [3]:
import pandas as pd

In [8]:
s1 = pd.Series([71,84,56,23,56,98,56])
print(s1)

0    71
1    84
2    56
3    23
4    56
5    98
6    56
dtype: int64

In [12]:
s2 = pd.Series([71,84,56,23,56,98,56], index=['Harry','Sagar','John','Rehan','Dhwani','Pragya','Shubh'])
s2

Harry     71
Sagar     84
John      56
Rehan     23
Dhwani    56
Pragya    98
Shubh     56
dtype: int64

In [16]:
# Dataframe - 2D labelled array
# Like a dictionary of series (not exactly)
data = {
    "name" : ["Alice", "Bob","Charlie"],
    "age" : [25,30,35],
    "city" : ["Delhi", "Mumbai", "Banglore"]
}

In [17]:
s3 = pd.DataFrame(data) # It's like storing tabular data in a variable in python

In [18]:
print(s3)

      name  age      city
0    Alice   25     Delhi
1      Bob   30    Mumbai
2  Charlie   35  Banglore

In [19]:
s3.index

RangeIndex(start=0, stop=3, step=1)

In [20]:
s3.columns

Index(['name', 'age', 'city'], dtype='object')